<head>
	<title>Valetbike - home</title>
</head>
<body>

<h1>Welcome to ValetBike!</h1>

<%= link_to("Login", login_path)%>
<%= link_to("Create Account", new_user_path)%>
<%= link_to("Stations", stations_path)%>


		
</body>
