<div class="logout">
<%= link_to("Log out", logout_path, method: :delete) %>
</div>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Valetbike Stations
    </div>
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
      <%= link_to("Map", stations_map_path) %>
	</div>
</div>
