<h1>Nipmunk Notch Map</h1>
<div id="map"><%= map(
  :center => {
    :latlng => [42.315233, -72.639569],
    :zoom => 14
  }, :markers => [{
    :latlng => [42.315233, -72.639569],
    :popup => "https://forbeslibrary.org/"
  }
]) %></div>

<%= link_to("Stations", {:action => 'index'}) %>

<%# https://github.com/axyjo/leaflet-rails
https://www.rubydoc.info/gems/leaflet-rails/1.7.0
https://leafletjs.com/examples/quick-start/
https://stackoverflow.com/questions/22900904/setting-up-leaflet-with-ruby-on-rails
 %>
