<h1>Nipmunk Notch Map</h1>
<div id="map"><%= map(:center => {
 :latlng => [51.52238797921441, -0.08366235665359283],
 :zoom => 18
}) %></div>
<%= link_to("Stations", {:action => 'index'}) %>

<%# https://github.com/axyjo/leaflet-rails
https://www.rubydoc.info/gems/leaflet-rails/1.7.0
https://leafletjs.com/examples/quick-start/
https://stackoverflow.com/questions/22900904/setting-up-leaflet-with-ruby-on-rails
 %>
