/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
:root { 
  --primary: #0FB3E8; 
  --light: #EEEEEE; 
  --dark: #212121; 
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Fira sans', sans-serif; 
}

.container { 
  max-width: 1280px; 
  margin: 0 auto; 

  display: flex; 
  align-items: center; 
  justify-content: space-between; 

}

nav { 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 99; 
  background-color: var(--dark); 
  padding: 16px 32px; 
  border-bottom: 3px solid var(--primary); 
}

.hamburger { 
  display: block; 
  position: relative; 
  z-index: 1; 
  
  user-select: none; 

  appearance: none; 
  border: none; 
  outline: none; 
  background: none; 
}

.hamburger span { 
  display: block; 
  width: 33px; 
  height: 4px; 
  margin-bottom: 5px; 
  position: relative; 

  background-color: var(--light); 
  border-radius: 6px; 
  z-index: 1; 

  transform-origin: 0 0; 
  transition: 0.4s; 
}

.hamburger:hover span:nth-child(2) { 
  transform: translateX(10px); 
  background-color: var(--primary); 
}

/** 
.hamburger.is-active span:nth-child(1) { 
  transform: translate(0px, -2px) rotate(45deg); 

}

.hamburger.is-active span:nth-child(2) { 
  opacity: 0; 
  transform: translate(0px, -2px) rotate (45deg); 

}

.hamburger.is-active span:nth-child(3) { 
  transform: translate(-3px, 3px) rotate(-45deg); 

}

.hamburger.is_active:hover span { 
  background-color: var(--primary); 
}
**/ 

.menu { 
  display: none; 
  flex: 1 1 0; 
  justify-content: flex-end; 
  margin: 0 16px; 
}

.menu a { 
  color: white; 
  margin: 0 16px; 
  font-weight: 600; 
  text-decoration: none; 
  transition: 0.4s; 
  padding: 8px 16px; 
  border-radius: 99px; 
  text-transform: uppercase; 
}

.menu a:hover { 
  background-color: var(--primary); 
}


@media (min-width: 768px) { 
  .hamburger { 
    display: none; 
  }
  .menu { 
    display: block; 
  }
}

h1 { 
  color: var(--primary); 
  font-size: 28px; 
  font-weight: 900; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
}

